# This notebook will be mainly used for the capstone project

In [1]:
import pandas as pd
import numpy as np

In [2]:
print ('Hello Capstone Project Course!')

Hello Capstone Project Course!

I need the package wikitables to extract the date from the wikipedia

In [3]:
import sys
!{sys.executable} -m pip install wikitables

Requirement not upgraded as not directly required: wikitables in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages
Requirement not upgraded as not directly required: requests>=2.9.1 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from wikitables)
Requirement not upgraded as not directly required: mwparserfromhell>=0.4.3 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from wikitables)
Requirement not upgraded as not directly required: chardet<3.1.0,>=3.0.2 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from requests>=2.9.1->wikitables)
Requirement not upgraded as not directly required: idna<2.7,>=2.5 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from requests>=2.9.1->wikitables)
Requirement not upgraded as not directly required: urllib3<1.23,>=1.21.1 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from requests>=2.9.1->wikitables)
Requirement not upgraded as not directly required: certifi>=2017.4.17 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from requests>=2.9.1->wikitables)

In [4]:
from wikitables import import_tables
tables = import_tables('List of postal codes of Canada: M')

In [5]:
neighbourhoods_data=tables[0].rows

In [6]:
# define the dataframe columns
column_names = [] 

# instantiate the dataframe
neighbourhoods = pd.DataFrame(columns=column_names)

I fill the empty dataframe created with the data extracted and I create the three columns required

In [7]:
for data in neighbourhoods_data:
    postal_code=data['Postcode']
    borough_name = data['Borough'] 
    neighbourhood_name = data['Neighbourhood']
    neighbourhoods = neighbourhoods.append({'PostalCode':postal_code, 'Borough': borough_name, 'Neighbourhood':neighbourhood_name}, ignore_index=True)

In [8]:
neighbourhoods.head()

            Borough     Neighbourhood PostalCode
0      Not assigned      Not assigned        M1A
1      Not assigned      Not assigned        M2A
2        North York         Parkwoods        M3A
3        North York  Victoria Village        M4A
4  Downtown Toronto      Harbourfront        M5A

I desestimate the 'Borough' rows with values 'Not assigned'

In [9]:
df = neighbourhoods.applymap(str)
df.drop(df[df.Borough == 'Not assigned'].index, inplace=True)
df.head(10)

            Borough     Neighbourhood PostalCode
2        North York         Parkwoods        M3A
3        North York  Victoria Village        M4A
4  Downtown Toronto      Harbourfront        M5A
5  Downtown Toronto       Regent Park        M5A
6        North York  Lawrence Heights        M6A

I group the Neighbourhood column by PostalCode equal values

In [10]:
df1=df.groupby('PostalCode').agg(lambda x: ', '.join(set(x)))

In [16]:
df1.head(10)

                Borough                                    Neighbourhood
PostalCode
M1B         Scarborough                                   Malvern, Rouge
M1C         Scarborough           Highland Creek, Rouge Hill, Port Union
M1E         Scarborough                West Hill, Morningside, Guildwood
M1G         Scarborough                                           Woburn
M1H         Scarborough                                        Cedarbrae
M1J         Scarborough                              Scarborough Village
M1K         Scarborough      Ionview, East Birchmount Park, Kennedy Park
M1L         Scarborough                  Golden Mile, Oakridge, Clairlea
M1M         Scarborough  Cliffside, Cliffcrest, Scarborough Village West
M1N         Scarborough                      Cliffside West, Birch Cliff

I replace the Neighbourhood values 'Not assigned' by the Borough values

In [12]:
df1.loc[df1['Neighbourhood']=='Not assigned','Neighbourhood']=df1.loc[df1['Neighbourhood']=='Not assigned','Borough']

Number of rows below:

In [19]:
df1.shape

(103, 2)